# Contratos reais
contratos/
*.pdf

# Arquivos temporários do Python
__pycache__/
*.pyc

# Ambientes virtuais
.venv/
venv/

# Arquivos do VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db
Backup/